*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../issets/farmHouseBg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    height: 42rem;
    width: 50rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
    position: relative;
}
.contUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.btn {
    height: 4rem;
    width: 30rem;
    background-image: linear-gradient(50deg,#f87038,#b84830,#a04038);
    box-shadow: 0.5rem 0.5rem #381800;
    border: 2px solid #381800;
    font-size: larger;
    font-weight: bold;
    color: #c8cc98;
    text-shadow: 1.5px 1.5px #381800, -1.5px -1.5px #381800;
    cursor: pointer;
    transition: all 0.25s;
}
.contUser .btn {
    width: 14.5rem;
    background-image: linear-gradient(50deg,#b89c08,#907800,#585018);
}
.btn:hover {
    height: 4.5rem;
    width: 32rem;
}
.contUser .btn:hover {
    width: 16rem;
}
#btnJogar {
    background-image: linear-gradient(50deg,#f89c60,#f06830,#e05828);
}
.title {
    height: 15rem;
    width: 15rem;
    margin-bottom: 2rem;
    background-image: url(../issets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.version {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #c8cc98;
}