*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../issets/farmHouseBg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    height: 40rem;
    width: 50rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
}
.contUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.btn {
    height: 4rem;
    width: 30rem;
    background-image: linear-gradient(50deg,#f87038,#b84830,#a04038);
    box-shadow: 1rem 1rem #381800;
    border: none;
    cursor: pointer;
}
#title {
    
}
.version {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: #c8cc98;
}