*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(../issets/yellowLeafBackgroundGif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40rem;
    width: 30rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: 0rem 0.5rem 1rem black;
}
.btn {

}
.version {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}